<div class="container_big-card">

    <div class="big-card_pic">
      <img src="../../../assets/treeclock.jpg" alt="treeclock" height="200px">

    </div>

    <div class="big-card_title">
      <h1><a href="#" target="_blank">Saiu nova versão!</a></h1>
    </div>

    <div class="big-card_description">
      <p>
        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis voluptate earum quam rem consectetur obcaecati dolor, magni soluta vel quasi suscipit distinctio delectus labore cupiditate pariatur perferendis placeat numquam ex.</a>
      </p>
    </div>

</div>
