.container_big-card{
  width: 90%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-card_title > h1 {
  margin-top: 15px;
  font-size: 40px;
}

.big-card_description {
  margin-top: 10px;
}

p {
  margin: 15px 0px;
  color: gray;
  align-self: flex-start;
}

.big-card_pic > img {
  width: 100%;
  min-width: 400px;

}
