<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<!--TODO: Renomear com aside, main e articles-->

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      photoCover="../../../assets/greenthundernightcity.jpg"
      cardTitle="Estranho evento ocorre em Night City!"
      cardDescription="Fenômeno intriga meteorologistas e modders!"
    >
    </app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
    photoCover="../../../assets/shihtzunaut.jpg"
    cardTitle="Novas novidades da nova missão do novo shihtzunauta!"
    >
    </app-small-card>

    <app-small-card
    photoCover="../../../assets/treeclock.jpg"
    cardTitle="Hora de plantar uma árvore: 5 Motivos."
    >
    </app-small-card>

    <app-small-card
    photoCover="../../../assets/goldenturtle.jpg"
    cardTitle="Tartarugas douradas não estão em extinção."
    >
    </app-small-card>
  </div>
</div>
